/* Reset some defaults */
body, html {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  background-color: #f9fafb;
  color: #212529;
  height: 90vh;
}

.home{
    background-color: brown;
     height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
   



}

.footer{
    color: black;
    background-color: rgb(161, 173, 173);
}
